body{
	background-color: darkseagreen;
}
h1 { 
	color: darkslategray; 
	text-align: center;
  text-transform: uppercase;
}
h2 {
	color: forestgreen;
}
h1 {
 color:seagreen; 
}
p {
	font-family:cursive;
	text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}