body{
	background-color: darkslateblue; 
	font-family: cursive;
}
 h1{
 	color: white;
 	text-align: center;
  text-transform: uppercase;
 }
 p{
 	text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}